@header-panel__background: @color-almost-white ;

.header.panel {
    justify-content: space-between;
    .header-panel-offers {
        stong { font-weight: 600; }
    }
    .header-panel-links {
        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;

            li {
                margin-right: 20px;
                margin-top: 0;
                margin-bottom: 0;
                
                a { color: @color-gray; }
            }
        }
    }
}
.header.content {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;

    height: 90px;

    a.logo { margin-right: auto; }
    .block-search { 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 30%; 
    }
    .switcher .account-dropdown,
    .minicart-wrapper {
        .action{
            &::before {
                -webkit-mask-size: @header-actions-icon__width @header-actions-icon__height;
                background-color: @color-gray-icon;
            }
        }
    }
}
